{% extends "wrapper.html" %}

{% block content %}
{% csrf_token %}
<!-- Страница для составления карты расположения -->
{% if user.is_authenticated %}
<!--<p align = "center"> 
    Погруженные объекты  </p> -->
<table border="1">
  <tr><td rowspan="4" style = "background: none; border-style:hidden"><img src="/static/Images/palett-fur.png"></td>
  <!-- <td>Места</td> -->
  <td style = "background: lightcyan">
    Правый верхний ряд  
  </td>
  {% for obj_id in up_right_objects_ids %}
  <td style = "background: lightcyan"> 
      {{obj_id}}
    </td>
  {% endfor %} 
  <tr>
  <td style = "background: white">
    Правый нижний ряд
  </td> 
  {% for obj_id in down_right_objects_ids %}
  <td style = "background: white">
      {{obj_id}}
  </td>
  {% endfor %} 
  <tr>
      <td style = "background: lightgoldenrodyellow">
          Левый верхний ряд  
        </td>
        {% for obj_id in up_left_objects_ids %}
        <td style = "background: lightgoldenrodyellow"> 
            {{obj_id}}
          </td>
        {% endfor %} 
        <tr>
        <td style = "background: lightsteelblue">
          Левый нижний ряд
        </td> 
        {% for obj_id in down_left_objects_ids %}
        <td style = "background: lightsteelblue">
            {{obj_id}}
        </td>
        {% endfor %}     
  </tr>
</table> 
<hr>
<p align="center">
  Информация о погружаемых объектах:
  <table border="1" align="center">
      <td style = "background: white">
        Идентификатор  
      </td>
      <td style = "background: white">
        Вес объекта
      </td>     
      <td style = "background: white">
          Наименование объекта
      </td> 
      <td style = "background: white">
          Производитель
      </td> 
      <td style = "background: white">
          Партия
      </td> 
      <td style = "background: white">
          Цена
      </td> 
      <td style = "background: white">
          Номер склада
      </td> 
      {% for obj in obj_info_up_right %}
        <tr style = "background: lightcyan">
          <td>
              {{obj.id_Objectss}}
          </td>
          <td>
              {{obj.weight}}
          </td>
          <td>
              {{obj.name}}
          </td>
          <td>
              {{obj.manufacturer}}
          </td>
          <td>
              {{obj.consignment}}
          </td>
          <td>
              {{obj.base_price}}
          </td>    
          <td>
              {{obj.stock_num}}
          </td>       
        </tr>
      {% endfor %} 
      {% for obj in obj_info_down_right %}
        <tr style = "background: white">
          <td>
              {{obj.id_Objectss}}
          </td>
          <td>
              {{obj.weight}}
          </td>
          <td>
              {{obj.name}}
          </td>
          <td>
              {{obj.manufacturer}}
          </td>
          <td>
              {{obj.consignment}}
          </td>
          <td>
              {{obj.base_price}}
          </td>    
          <td>
              {{obj.stock_num}}
          </td>       
        </tr>
      {% endfor %} 
      {% for obj in obj_info_up_left %}
      <tr style = "background: lightgoldenrodyellow">
        <td>
            {{obj.id_Objectss}}
        </td>
        <td>
            {{obj.weight}}
        </td>
        <td>
            {{obj.name}}
        </td>
        <td>
            {{obj.manufacturer}}
        </td>
        <td>
            {{obj.consignment}}
        </td>
        <td>
            {{obj.base_price}}
        </td>    
        <td>
            {{obj.stock_num}}
        </td>       
      </tr>
    {% endfor %} 
    {% for obj in obj_info_down_left %}
    <tr style = "background: lightsteelblue">
      <td>
          {{obj.id_Objectss}}
      </td>
      <td>
          {{obj.weight}}
      </td>
      <td>
          {{obj.name}}
      </td>
      <td>
          {{obj.manufacturer}}
      </td>
      <td>
          {{obj.consignment}}
      </td>
      <td>
          {{obj.base_price}}
      </td>    
      <td>
          {{obj.stock_num}}
      </td>       
    </tr>
  {% endfor %} 
  </table> 
<p align="center">
      Информация о непогружаеных объектах:
      <table border="1" align="center">
          <td style = "background: white">
            Идентификатор  
          </td>
          <td style = "background: white">
            Вес объекта
          </td>     
          <td style = "background: white">
              Наименование объекта
          </td> 
          <td style = "background: white">
              Производитель
          </td> 
          <td style = "background: white">
              Партия
          </td> 
          <td style = "background: white">
              Цена
          </td> 
          <td style = "background: white">
              Номер склада
          </td> 
          {% for obj in not_packed %}
            <tr>
              <td>
                  {{obj.id_Objectss}}
              </td>
              <td>
                  {{obj.weight}}
              </td>
              <td>
                  {{obj.name}}
              </td>
              <td>
                  {{obj.manufacturer}}
              </td>
              <td>
                  {{obj.consignment}}
              </td>
              <td>
                  {{obj.base_price}}
              </td>    
              <td>
                  {{obj.stock_num}}
              </td>       
            </tr>
          {% endfor %} 
      </table> 
{% else %}
  <center><a href= "/login/">Авторизуйтесь, Гость</a></center>
{% endif %}
{% endblock %}
