{% extends "wrapper.html" %}
{% block content %}
<title>Изменение параметров объекта для заказа</title>
{% if user.is_authenticated %}
<p align="center">Текущий выбранный объект для погрузки</p>
<table border="1" bordercolor="RoyalBlue" style="margin: auto">
    <tr>
        <th>Идентификатор перевозки объекта для заказа</th>
        <th>Идентификатор объекта</th>
        <th>Порядок погрузки</th>
        <th>Идентификатор заказа</th>
        <th>Идентификатор места доставки объекта</th>
        <th>Количиство объектов для доставки</th>
    </tr>
            {% csrf_token %}       
            <td>{{obj.0.id_ObjectsForOrders}}</td>
            <td>{{obj.0.id_object.id_Objectss}}</td>
            <td>{{obj.0.order_placement}}</td>
            <td>{{obj.0.id_order.id_Orders}}</td>
            <td>{{obj.0.id_place_to_delivery.id_Places}}</td>
            <td>{{obj.0.count}}</td>
</table>
<hr>
<form role="form" method="POST" action="change_obj_for_order_params">
{% csrf_token %}
<table border="1">
        <tr>
         <th>Порядок погрузки</th>
         <th>Количиство объектов для доставки</th>
        </tr>
    {% for obj in obj %} 
        <tr>
        <td>
            <input type="number" name="new_order_placement" min = "1" max="99" value={{obj.order_placement}} required>     
        </td>
        <td>
            <input type="number" name="new_count" min = "1" max="99" value={{obj.count}} required>     
        </td>
    </tr>
    {% endfor %}
</table>
<p align="Right">
<input type="submit" class ="btn btn-success" value="Изменить параметры погружаемого объекта"></p>
</form>
{% else %}
    <center><a href= "/login/">Авторизуйтесь, Гость</a></center>
{% endif %}
{% endblock %}
