{% extends "wrapper.html" %}

{% block content %}
<!-- Страница просмотра отзывов -->
<h2>Отзывы о сайте</h2>
<a href = "/feedback/sendfeedback" class ="btn btn-primary btn-sm">Оставить отзыв <i class="fas fa-share-square"></i></a>
<hr>
{% if user.count > 0 %}
  {% if reviews.mark < 3 %}
    <textarea class="form-control" name="markavg" id="exampleFormControlTextarea1" rows="1"
    readonly style = "color: #FF4500;"> Средняя оценка гостиницы: {{avgmark.average_mark}}</textarea>
    {% else %}
    <textarea class="form-control" name="markavg" id="exampleFormControlTextarea1" rows="1"
    readonly style = "color: #006400;"> Средняя оценка гостиницы: {{avgmark.average_mark}}</textarea>
  {% endif %}
  {% for reviews in user %}
  <label for="Name">Имя</label>
  <textarea class="form-control" name="name" id="exampleFormControlTextarea1" rows="1"
  placeholder="Введите ваше имя" readonly style = "background-color: #FFFFFF; color: #00008B;">  {{reviews.name}}</textarea>
  <br>
  <label for="mark">Оценка: </label>
  <!-- Изменение цвета цифры в зависимости от оценки-->
  {% if reviews.mark < 3 %}
    <textarea class="form-control" name="mark" id="exampleFormControlTextarea1" rows="1"
    readonly style = "color: #FF4500;">  {{reviews.mark}}</textarea>
    {% else %}
      <textarea class="form-control" name="mark" id="exampleFormControlTextarea1" rows="1"
      readonly style = "color: #006400;">  {{reviews.mark}}</textarea>
  {% endif %}
  <p>
  <label for="message">Сообщение:</label>
  <textarea class="form-control" name="message" id="exampleFormControlTextarea1" rows="3" placeholder="Введите ваше сообщение" readonly style = "background-color: #FFFFFF;">  {{reviews.message}}</textarea>
  <p>
  <label for="email">Адрес электронной почты: </label>
  <a href="mailto:{{reviews.email}}">{{reviews.email}}</a>
  <p>
  <center>
  <label for="date">Дата публикации:</label>
  {{reviews.date|date:"Y-m-d в H:i:s"}}
  </center>
  <hr>
  {% endfor %}
{% endif %}
{% endblock %}
