{% extends "wrapper.html" %}
{% block content %}
{% if user.is_authenticated %}
{% csrf_token %}
<p align="center">Текущая выбранная машина:</p>
<table border="1" bordercolor="RoyalBlue" style="margin: auto">
    <tr>
     <th>Идентификатор договора</th>
     <th>Идентификатор Машины</th>
     <th>Брэнд машины</th>
     <th>Модель</th>
     <th>Вес машины(тонны)</th>
     <th>Вес прицепа(тонны)</th>
     <th>Количество осей прицепа</th>
     <th>Количество осей машины</th>
    </tr>
        <form role="form" method="POST" action="change_car">
            {% csrf_token %}
            <td><input type="text" name="ord_id" readonly value = {{current_order}} ></td>
        <td>{{Cars.0.id_Car}}</td>
        <td>{{Cars.0.Brand}}</td>
        <td>{{Cars.0.Model}}</td>
        <td>{{Cars.0.maxWeight}}</td>
        <td>{{Cars.0.trailer_weight}}</td> 
        <td>{{Cars.0.trailer_ax_count}}</td> 
        <td>{{Cars.0.car_ax_count}}</td>
</table>
<hr>
<p align="center">Имеющиеся машины:</p>
<table border="1">
        <tr>
         <th>Идентификатор</th>
         <th>Брэнд машины</th>
         <th>Модель</th>
         <th>Вес машины(тонны_</th>
         <th>Вес прицепа(тонны)</th>
         <th>Количество осей прицепа</th>
         <th>Количество осей машины</th>
        </tr>
    {% for car_info in Cars %} 
        <tr>
        <td>
            <input name="car_id" type="radio" value={{car_info.id_Car}} checked>{{car_info.id_Car}} </td>
        <td>{{car_info.Brand}}</td>
        <td>{{car_info.Model}}</td>
        <td>{{car_info.maxWeight}}</td> 
        <td>{{car_info.trailer_weight}}</td> 
        <td>{{car_info.trailer_ax_count}}</td> 
        <td>{{car_info.car_ax_count}}</td>
    </tr>
    {% endfor %}
</form>
</table>
<p align="Right">
<input type="submit" class ="btn btn-success" value="Изменить машину"></p>
{% else %}
    <center><a href= "/login/">Авторизуйтесь, Гость</a></center>
{% endif %}
{% endblock %}
