{% extends "wrapper.html" %}
<title>Добавление автомобиля</title>
{% block content %}
<!-- Страница для добавления автомобилей-->
{% if user.is_authenticated %}
<form role="form" method="POST" action="add_car">
  {% csrf_token %}
  <div class = "form-group">
    <label for="id">Идентификатор:</label>
    <input type="number" name="id" min="0" step="any" required><p>  
    <label for="Brand">Бренд:</label>
    <textarea class="form-control" name="Brand" id="exampleFormControlTextarea1" required rows="2" placeholder="Введите бренд автомобиля" required></textarea>
    <label for="Model">Модель:</label>
    <textarea class="form-control" name="Model" id="exampleFormControlTextarea1" required rows="2" placeholder="Введите модель автомобиля" required></textarea>
    <p><p>
    <label for="maxWeight">Вес машинны(тонны):</label>
    <input type="number" name="maxWeight" min="1" max="15" step="any" required>  
    <label for="trailer_weight">Вес прицепа(тонны):</label>
    <input type="number" name="trailer_weight" min="1" max="15" step="any" required>   
    <p><p>
    <label for="trailer_ax_count">Количество осей прицепа:</label>
    <input type="number" name="trailer_ax_count" min="2" max="3" required>  
    <label for="car_ax_count">Количество осей машины:</label>
    <input type="number" name="car_ax_count" min="2" max="3" required> 
    <input type="submit" class ="btn btn-success" value="Добавить" >
</form>
{% else %}
  <center><a href= "/login/">Авторизуйтесь, Гость</a></center>
{% endif %}

{% endblock %}
