<nav class="navbar navbar-default" role="navigation">
        <div class = "enterButton"> 
          <div class="dropdown open">
              <button class="btn btn-secondary btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Авторизация
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/login/">Вход</a>
                <a class="dropdown-item" href="/exit/">Выход</a>
              </div>
            </div>
          </div> 
      </nav>