#listticker{
    height:200px;
    width:100%;
    overflow:hidden;
    border:solid 1px #DEDEDE;
    padding:6px 10px 14px 10px;;
    }
    #listticker li{
    border:0; margin:0; padding:0; list-style:none;
    }
   #listticker li{
    height:60px;
    padding:5px;
    list-style:none;
    }
    #listticker a{
    color:#000000;
    margin-bottom:
    }
    #listticker .news-title{
    display:block;
    font-weight:bold;
    margin-bottom:4px;
    font-size:11px;
    }
    #listticker .news-text{
    display:block;
    font-size:11px;
    color:#666666;
    }